@import url("reset.css");
@import url("jquery-ui.min.css");
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|Cutive+Mono");

.mobileOnly {
  display: none;
}

body {
  background-color: #666;
  color: white;
  font-family: 'Open Sans', 'Arial', 'Helvetica', 'FreeSans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: #55aaff;
}

#mainHeader {
  background-color: #222;
}

#mainHeader h1, #mainContent {
  width: 1280px;
  margin: 0 auto;
  border-style: solid;
}
#mainHeader h1 {
  border-color: white;
  border-width: 0 1px;
  background-color: #2574b7;
  color: white;
  padding: 0 18px 0.5em;
  font-size: 1.8em;
}
#siteTitle {
  display: block;
  font-family: 'Cutive Mono', 'Courier New', 'Courier', monospace;
  font-size: 1.8em;
}
#pageTitle {
  display: block;
  text-align: right;
}

#mainHeader nav {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 1.8em;
  background-color: maroon;
  border-top: solid #ccc 1px;
  border-bottom: solid #333 1px;
}
#mainHeader nav a {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  color: white;
  text-decoration: none;
}
#mainHeader nav > ul {
  font-size: 1.1em;
  margin: -0.4em 4em 0.4em;
  padding: 0;
  border-top: solid white 1px;
  border-bottom: solid black 1px;
  background-color: #9B1A1A;
  position: relative;
  z-index: 9999;
}
#mainHeader nav > ul > li > a {
  font-weight: bold;
  text-transform: uppercase;
}
#mainHeader nav a.current {
  background-color: #75C4F7;
  color: black;
}
#mainHeader nav a:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s linear;
}
nav > ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 23%;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}
nav .social {
  width: 2em;
}

nav ul ul {
  position: absolute;
  left: -9999em;
  padding: 0;
  list-style-type: none;
  background-color: transparent;
  width: 100%;
  font-size: 0.9em;
}

nav ul li:hover ul {
  left: 0;
  background-color: #333;
  transition: background-color 0.35s linear;
}

#mainContent {
  background-color: white;
  color: black;
  border-color: black;
  border-width: 0 1px 1px;
  border-radius: 0 0 1em 1em;
  padding: 2em 1em 1em;
}

footer {
  padding-left: 1em;
}