@media screen and (max-width: 1316px) {

.mobileOnly {
  display: block;
}
.fullOnly {
  display: none;
}

body {
  font-size: 14px;
}

h2 {
  font-size: 1.2em;
  margin: 0 0 0.4em;
}
  
#mainHeader h1 {
  width: 100%;
  padding: 0 0 0.3em;
  border: none;
  font-size: 1.3em;
}
#siteTitle {
  margin-left: 0.2em;
}
#pageTitle {
  text-align: left;
  margin-left: 1em;
  font-weight: normal;
}

#mainHeader nav {
  height: auto;
  border-top: solid 1px white;
  border-bottom: solid 1px black;
  position: relative;
}
.toggleNav {
  background-color: maroon;
  border: solid white;
  border-width: 0 1px;
  width: 1em;
  position: absolute;
  top: -1.4em;
  right: 0.3em;
  text-align: center;
  font-size: 1.5em;
  padding: 0.2em;
  cursor: pointer;
}
#mainHeader nav > ul, #mainHeader nav > div > ul {
/* nav > div > ul is necessary to maintain style during jQueryUI animation */
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1em;
  display: none;
}
#mainHeader nav > ul > li, #mainHeader nav .social,
#mainHeader nav > div > ul > li {
  display: block;
  width: 100%;
  border-bottom: solid 1px maroon;
}
nav > ul > li:last-child {
  border-bottom: none;
}
nav ul li:hover ul {
  left: -9999em;
}

.mainContent {
  border-color: black;
  border-width: 0 0 1px;
  border-radius: 0;
  padding: 1em 0.5em;
  width: auto;
}

.tab-content {
  border-radius: 0 0 1em 1em;
}

.ui-tabs .ui-tabs-panel {
  padding: 1em 0.5em;
}

} /* max-width: 1316px */

@media screen and (min-width: 1317px) {

#mainHeader nav > ul {
  display: block !important;
  /* Show navigation in full site even if toggled to hidden in mobile version */
}
} /* min-width: 1317px */