@import "settings";
// @import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";


// MIXINS
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

// Oh goody, vendor prefixes.
// Sadly, need to use these for placeholder-shown to work correctly.
// I think this is likely a Foundation issue rather than a browser support one.
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
  @include optional-at-root(':placeholder-shown') {
    @content;
  }
}
// END MIXINS


// TOP BAR
$topbar-title-font-family: $font-family-monospace;
.top-bar .name {
  font-family: $topbar-title-font-family;
  
  h1 {
    font-family: inherit;
    @media #{$medium-up} {
      font-size: rem-calc(48);
    }
  } // h1
} // .top-bar .name
// NAVIGATION
.top-bar-section {
  ul li > a {
    @media #{$medium-only} {
      font-size: inherit;
    }
  } // ul li > a
  .has-dropdown.active:not(:hover) > a:after {
    border-color: black transparent transparent
  }
} // .top-bar-section
// END NAVIGATION
// END TOP BAR


// HERO
.hero {
  h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  nav {
    margin-top: 1rem;
    text-align: center;
    font-size: rem-calc(44);
    line-height: 150%;
    
    .fa {
      font-size: 200%;
    }
    
    > .columns {
      margin-bottom: 3rem;
      
      &:last-of-type {
        margin-bottom: 0;
      }
      
      @media #{$medium-up} {
        margin-bottom: 0;
      }
    }
    
    #nav-audiobooks a {
      color: $oldbrick;
      
      &:hover {
        color: scale-color($oldbrick, $lightness: 25%);
        .fa-volume-up {
          text-shadow: 0 0 rem-calc(2) $oil;
        }
      }
    } // #nav-audiobooks a
    
    #nav-ebooks a {
      color: $fruitsalad;
      
      &:hover {
        color: scale-color($fruitsalad, $lightness: 25%);
        
        .fa-tablet {
          color: scale-color($black, $lightness: 25%);
        }
      }
    }
  } // nav
} // .hero

.fa-audiobook {
  position: relative;
  
  .fa-volume-up {
    font-size: 105%;
    color: $white;
    text-shadow: 0 0 rem-calc(2) $black;
    position: absolute;
    top: -39%;
    right: -26%;
    transform: rotate(-30deg);
  } // .fa-volume-up
} // .fa-audiobook

.fa-ebook {
  position: relative;
    .fa-tablet {
      color: $black;
    }
    .fa-book {
      font-size: 50%;
      position: absolute;
      top: 16%;
      right: 14%;
    }
} // .fa-ebook
// END HERO


#main-content {
  h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  h3 {
    margin-bottom: 0.5rem;
  }
  
  > section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px $gainsboro;
    
    &:nth-of-type(odd) {
      background-color: $white;
    }
    &:nth-of-type(even) {
      background-color: $smoke;
    }
  } // > section
} // #main-content


#site-footer {
  background-color: $jet;
  color: $white;
  font-size: rem-calc(14);
  border: solid $steel;
  border-width: 1px 0;
  padding-top: 1rem;
  
  a {
    color: $anakiwadark;
    &:hover {
      color: $anakiwalight;
    }
  }
} // #site-footer


// HOME
#sitelogos {
  font-size: rem-calc(24);

  @media #{$medium-up} {
    font-size: rem-calc(44);
  }
  
  .company-name {
    line-height: 1.1;
  }
  
  #banner-integratedaviation {
    font-family: 'Raleway';
    
    @media #{$medium-up} {
      padding-top: rem-calc(18);
    }
  }
  
  @media #{$small-only} {
    [src*="intel-logo.svg"] {
      height: 80px;
    }
  }
} // #sitelogos
// END HOME


// GENERAL
a:hover img {
  opacity: 0.8;
}
.shadow {
  box-shadow: 0 0 0 1px $iron;
  margin-bottom: 1rem;
}
[class*="block-grid-"] {
  text-align: center;
}
[src*="intel-logo.svg"] {
  height: 140px;
}
// END GENERAL


// WEBSITES
h2 {
  text-align: center;
  @media #{$large-up} {
    text-align: left;
  }
} // h2
.siteThumbs {
  text-align: center;
  
  img {
    box-shadow: 0 0 2px $iron;
    margin-bottom: 1rem;
    &:first-child {
      margin-right: 8px;
    }
  }
}// . siteThumbs
#globaljet .siteThumbs img {
  height: 312px;
}
#conference .siteThumbs img {
  height: 304px;
}
#md .siteThumbs img {
  height: 260px;
}
#integratedaviation {
  .siteThumbs img {
    height: 158px;
  }
  h2 {
    font-family: Raleway;
  }
}
#swimit .siteThumbs img {
  height: 159px;
}
// END WEBSITES


// AUDIOBOOKS
.author {
  font-size: 75%;
  padding-left: 1em;
}
.video {
  width: 300px;
  height: 300px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  @media #{$medium-up} {
    width: 400px;
    height: 400px;
  }
}
// END AUDIOBOOKS


// EBOOKS
.paypal-donate {
  margin-bottom: 1.5rem;
}

.ebook {
  header, section {
    $gap: rem-calc(64);
    padding-bottom: $gap;
    border-bottom: solid rem-calc(1) $gainsboro;
    margin-bottom: $gap;
    
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  
  section:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}
// END EBOOKS


// CONTACT
@include placeholder {
  color: $steel;
}
textarea {
  height: 12rem;
}
.recaptcha-container {
  // Show a placeholder until the Captcha loads
  position: relative;
  width: 302px;
  height: 76px;
  background: $snow;
  
  .loading {
    content: 'Loading...';
    color: $steel;
    position: absolute;
    right: 40%;
    top: 35%;
    z-index: 1;
  }
  
  iframe {
    position: relative;
    z-index: 2;
  }
}
.recaptcha_error {
  width: 302px; // same width as recaptcha frame itself
}
input[type="submit"] {
    margin-top: 1rem;
}
// END CONTACT