<header>
  <h1>About</h1>

  <section class="intro row">
    <h2>A Demo Site by Thad Boyd</h2>
    
    <p>This is a demo site.  New Media Con is a fictitious event, and the graphics are <a href="javascript:void(0)" data-reveal-id="stock_images">stock images</a> from <a href="http://www.freeimages.com/">freeimages.com</a>.</p>
  </section><!-- intro -->
</header>

<section>
  <div class="row">
    <h2>The site is built using:</h2>
    
    <ul>
      <li>JavaScript</li>
      <li><a href="https://angularjs.org/">AngularJS</a></li>
      <li><a href="http://foundation.zurb.com/">Foundation</a></li>
      <li><a href="https://pineconellc.github.io/angular-foundation/">Angular Foundation</a></li>
      <li><a href="https://angular-ui.github.io/">AngularUI</a></li>
      <li>JSON</li>
      <li><a href="http://sass-lang.com/">Sass</a>
	<ul>
	  <li>SCSS</li>
	  <li><a href="http://compass-style.org/">Compass</a></li>
	</ul>
      </li>
      <li>HTML5 semantic markup</li>
      <li>CSS3 responsive design</li>
      <li><a href="http://fontawesome.io">Font Awesome</a></li>
    </ul>
    
    <p>Try viewing this site at multiple different sizes, on your desktop and on your phone, and note the category filtering.</p>
    
    <p>The layout of this site is based on the <a href="http://attendicon.com/agenda/overview">ICON15 Agenda page</a>, built by <a href="http://www.infusionsoft.com/">Infusionsoft</a>; however, the implementation is entirely my own work.  No ICON or Infusionsoft code, graphics, or other resources are used anywhere in this demo.</p>
  </div>
</section>
