<header>
  <h1>Sponsors</h1>

  <section class="intro row">
    <h2>Special Thanks to All Who Contributed</h2>
    
    <p>New Media Con is made possible by the following sponsors.</p>
  </section><!-- intro -->
</header>

<section>
  <div class="row">
    <div ng-repeat="(level, sponsor_list) in sponsors" class="large-4 small-12 columns">
      <h2>{{level}} Sponsors</h2>
    
      <ul>
	<li ng-repeat="sponsor in sponsor_list">{{sponsor}}</li>
      </ul>
    </div>
  </div><!-- row -->
</section>
